body
{
  margin:0;
  overflow-X:hidden;
  font-family:"Raleway","Roboto","Helvetica",sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -ms-font-smoothing:antialiased;
  font-smoothing:antialiased;
  background:rgba(18,18,26,1);
  background-image:url('http://artlantis-media.ru/static/img/0000/0002/7260/27260842.qvpm616fga.png');
  background-blend-mode:overlay;
  background-size:15%;
  color:white;
}
::-webkit-scrollbar
{
  display:none;
}


/*Grid Wrapper*/
 
