@import url("https://fonts.googleapis.com/css?family=Prompt:300,400,700,900&display=swap&subset=latin-ext");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  color: #212121;
  min-height: 100vh;
}

#reviews {
  background-color: mintcream;
  padding: 7rem 5px;
  background-image: url("https://i.pinimg.com/originals/c8/67/8c/c8678ca298166146af5ee8430fb16349.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.row {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

#reviews h2 {
  margin-bottom: 1.5rem;
  font-size: 2.3rem;
  font-weight: 400;
  color: snow;
  text-transform: uppercase;
}

#reviews h3 {
  color: snow;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

#reviews p {
  margin-bottom: 1rem;
  color: snow;
  font-size: 1.25rem;
  line-height: 1.4;
  transition: all 0.5s linear;
}

.review-box {
  display: flex;
  position: relative;
  padding: 0;
}

.review-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: snow;
  font-size: 3rem;
  width: 33px;
  position: absolute;
  height: calc(100% - 4px);
  border: 0;
  cursor: pointer;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
}

.review-box .prev {
  left: 2px;
}

.review-box .next {
  right: 2px;
}

.review {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(105deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 85%, rgba(128, 0, 128, 0.5) 85%, rgba(128, 0, 128, 0.5) 100%);
  padding: 35px 35px;
  border: 1px solid purple;
  border-radius: 5px;
  box-shadow: 0px 12px 12px -10px mistyrose;
  min-height: 20rem;
}

.stars {
  color: orange;
  font-size: 1.1rem;
  letter-spacing: 3px;
}

.customer-name {
  display: block;
  margin-top: 0.375rem;
  color: lavender;
  font-weight: 400;
  font-style: italic;
  text-align: right;
}